{% extends 'accountsmgm_base.html' %}

{% load i18n %}

{% block pagetitle %}{% trans "Login into account" %}{% endblock %}

{% block section_js %}
    {{ block.super }}
    require(["dijit/form/Form", "dijit/form/ValidationTextBox", "dijit/form/Button"]);
{% endblock %}

{% block maincontent %}
<div class="accounts_form_area">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" action="" data-dojo-type="dijit/form/Form">

    <script type="dojo/on" data-dojo-event="submit">
        return this.validate();
    </script>

    {% csrf_token %}

    <table style="width:90%">
        <tr>
            <td>{{ form.account_code.label_tag }}</td>
            <td>{{ form.account_code }}</td>
            <td><button type="submit" data-dojo-type="dijit/form/Button">{% trans "Login" %}</button></td>
        </tr>
    </table>
    </form>
</div>
{% endblock %}