{% extends 'accountsmgm_base.html' %}

{% load i18n %}

{% block pagetitle %}{% trans "Create new account" %}{% endblock %}

{% block section_js %}
    {{ block.super }}
    require(["dijit/form/Form", "dijit/form/ValidationTextBox", "dojox/validate/web", "dijit/form/Button"]);
{% endblock %}

{% block maincontent %}
<div class="accounts_form_area">
    {% if form.errors %}
        <p>{% trans "The email you provided seems to be not valid." %}</p>
    {% endif %}

    <form method="post" action="" data-dojo-type="dijit/form/Form">

    <script type="dojo/on" data-dojo-event="submit">
        return this.validate();
    </script>

    {% csrf_token %}

    <table style="width:90%">
        <tr>
            <td>{{ form.account_email.label_tag }}</td>
            <td>{{ form.account_email }}</td>
            <td><button type="submit" data-dojo-type="dijit/form/Button">{% trans "Generate new!" %}</button></td>
        </tr>
    </table>
    </form>
</div>
{% endblock %}