/* Codes Management Style */
body {
    background-color: #EEEEEE;
}

#footer {
    background-color: #e2e4df;
    color: #2f3807;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#header {
    background-color: #e2e4df;
    color: #2f3807;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#main_pane {
    text-align: center;
}

.accounts_form_area {
    margin: 2em auto;
    width: 600px;
    padding: 10px;
    background-color: rgba(32, 112, 10, 0.2);
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}

