/* Codes Management Style */
body {
    background-color: #EEEEEE;
}

#footer {
    background-color: #e2e4df;
    color: #2f3807;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#header {
    background-color: #e2e4df;
    color: #2f3807;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#borderContainer {
    width: 100%;
    height: 100%;
}


/* Grid Records Style */
#gridRecords {
    height: 100%;
    width:93%;
}

.dgrid-row {
    height: 2em;
}

.dgrid-column-date_recorded, .dgrid-column-0-1 {
   width: 18em;
   background-color: #ecf2ff;
}

.dgrid-no-data {
    font-size: 1.2em;
    text-align: center;
}

.summary-row,
.summary-row .dgrid-column-date_recorded {
	font-weight: bold;
	background-color: #FBD49B;
	font-size: 1.1em;
}

/* Grid Calculated Costs Style */
#gridCalculated {
    width: 100%;
    height: 100%;
}

.field-costs_total  {
    font-weight: bold;
}

/* Fixed costs area */
#fixedCostsArea {
    padding: 5px;
    background-color:#CAE1E8;
    width: 300px;
    height: 100%;
    display: block;
}