html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
}

.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}

#loadingOverlay {
    background:  #fff url('/static/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;
}

.loadingMessage {
    padding: 25px 40px;
    color: #999;
}

.container {
    width:100%;
    height:100%
}

.rcorner5 {
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

#top_menu {
    float: right;
}