{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Recovering codes..." %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <style>
        table {
            border: 1px solid green;
            width:80%;
        }
    </style>

    <p>{% trans "Hello there," %}</p>

    <p>{% trans "Here is the list with your associated codes:" %}</p>

    <table>
        <thead>
            <th>Account Code</th>
            <th>Created at</th>
            <th>Last accessed at</th>
        </thead>

        <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.unique_code }}</td>
            <td>{{ account.created_at|date:"D d-M-Y H:i e"}}</td>
            <td>{{ account.accessed_at|date:"D d-M-Y H:i e"}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>


