{% extends 'template.html' %}

{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block section_css %}
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/accountsmgm.css' %}" />
{% endblock %}

{% block section_js %}
    {{ block.super }}
    require(["dijit/layout/ContentPane", "dijit/layout/BorderContainer"]);
{% endblock %}

{% block pagebody %}
    <div data-dojo-type="dijit/layout/BorderContainer" class="container codes_container" data-dojo-props="gutters: true">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" id="header">
            {{ GL_APP_NAME|upper }} VER {{ GL_APP_VERSION }}
            <span id="top_menu">
                <button data-dojo-type="dijit/form/Button" data-dojo-id="loginBtn"
                        onclick="window.location.replace('{% url 'accountsmgm:login_page' %}')"
                        {% if activeMenu == 'login' %}disabled{% endif %}>
                            {% trans "Login" %}
                </button>
                <button data-dojo-type="dijit/form/Button" data-dojo-id="recoverBtn"
                        onclick="window.location.replace('{% url 'accountsmgm:recover_page' %}')"
                        {% if activeMenu == 'recover' %}disabled{% endif %}>
                            {% trans "Recover" %}
                </button>
                <button data-dojo-type="dijit/form/Button" data-dojo-id="getNewBtn"
                        onclick="window.location.replace('{% url 'accountsmgm:get_new_page' %}')"
                        {% if activeMenu == 'getnew' %}disabled{% endif %}>
                            {% trans "Get New" %}
                </button>
            </span>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" id="main_pane">
            {% block maincontent %}{% endblock %}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" align="right" id="footer">
            <span>Copyright &copy; 2015 - 2016 {{ GL_APP_AUTHOR }}</span>
        </div>
    </div>
{% endblock %}