{% extends 'template.html' %}

{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block section_js %}
    {{ block.super }}
    require(["dijit/layout/ContentPane", "dijit/layout/BorderContainer"]);
{% endblock %}

{% block pagebody %}
    <div data-dojo-type="dijit/layout/BorderContainer" class="container codes_container" data-dojo-props="gutters: true">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" id="header">
            DASHBOARD - {{ GL_APP_NAME|upper }} VER {{ GL_APP_VERSION }}
            <span id="top_menu">
                <span>{% trans 'CODE' %}: {{ logged_code }}</span>
                <button data-dojo-type="dijit/form/Button" data-dojo-id="logoutBtn"
                        onclick="window.location.replace('{% url 'accountsmgm:login_page' %}')">
                        {% trans "Logout" %}
                </button>
            </span>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" id="main_pane">
            {% block maincontent %}{% endblock %}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" align="right" id="footer">
            <span>Copyright &copy; 2015 - 2016 {{ GL_APP_AUTHOR }}</span>
        </div>
    </div>
{% endblock %}