<!DOCTYPE html>
{% load static from staticfiles %}{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GETracker-{% block pagetitle %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'dijit/themes/claro/claro.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dijit/themes/claro/document.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

    <script>
    var dojoConfig = {
        async: true,
        parseOnLoad: false,
        isDebug: true,
        // locale: 'nl-nl',
        locale: 'en-GB',
        has: {
            "dojo-firebug": true,
            "dojo-debug-messages": true
        },
        map: {
            // Instead of having to type "dojo/domReady!", we just want "ready!" instead
            "*": {
                ready: "dojo/domReady"
            }
        }
    };

    var overlay;
    </script>

    {% block section_css %}{% endblock %}
    {% block subsection_css %}{% endblock %}
</head>
<body class="claro">
    <div id="loadingOverlay" class="loadingMessage pageOverlay"></div>

    <script src="{% static 'dojo/dojo.js' %}"></script>

    <script>
    // $.noConflict(); // if jquery is added

    require(["dojo/_base/declare", "dojo/dom", "dojo/dom-style", "dojo/_base/fx"],
    function(declare, dom, domStyle, fx){
        var Overlay = declare(null, {
            overlayNode: null,
            constructor: function() {
                this.overlayNode = dom.byId("loadingOverlay");
            },
            endLoading: function() {
              <!--
              fx.fadeOut({
                node: this.overlayNode,
                onEnd: function(node){
                    domStyle.set(node, 'display', 'none');
                }
              }).play();
              -->
              domStyle.set(this.overlayNode,'display','none');
            }
        });

        overlay = new Overlay();
    });

    </script>

    {% block pagebody %}{% endblock %}

    <script>
    {% block section_js %}
        require(["/static/js/getracker.js"]);
        require(["dojo/parser", "dojo/ready"], function(parser, ready){
            ready(function(){
                parser.parse().then(function() { overlay.endLoading(); });
            });
        });
    {% endblock %}
    </script>

    {% block external_js %}{% endblock %}
</body>
</html>