{% load i18n %}

<div id="fixedCostsArea">
    <b>{% trans "Electricity" %} (&euro;/{% trans "month" %}) </b>
    <div>{% trans 'Total' %}: {{ total_fixed_costs.electricity|floatformat:2 }}</div>

    <ul>
        {% for cost in electricity_fixed_costs %}
            <li>{{ cost.name }}: {{ cost.value|floatformat:2 }}</li>
        {% endfor %}
    </ul>

    <b>{% trans "Gas" %} (&euro;/{% trans "month" %})</b>
    <div>{% trans 'Total' %}: {{ total_fixed_costs.gas|floatformat:2 }}</div>
    <ul>
        {% for cost in gas_fixed_costs %}
            <li>{{ cost.name }}: {{ cost.value|floatformat:2 }}</li>
        {% endfor %}
    </ul>

    <div><b>{% trans 'Big Total' %}: {{ total_fixed_costs.bigtotal|rjust:"30" }}</b></div>
</div>