{% extends 'dashboard_base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block pagetitle %}{% trans "Dashboard" %}{% endblock %}

{% block section_js %}
    {{ block.super }}
    require(["dojo/parser", "dijit/layout/ContentPane", "dijit/layout/BorderContainer", "dijit/form/DateTextBox",
            "dijit/form/Select", "dijit/form/NumberTextBox", "dijit/form/Form", "dijit/form/Button"]);
{% endblock %}

{% block external_js %}
    <script src="{% static 'js/dashboard/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/dashboard/grid.js' %}" type="text/javascript"></script>
{% endblock %}

{% block section_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block maincontent %}
<div data-dojo-type="dijit/layout/LayoutContainer" data-dojo-props="design:'sidebar', gutters:false, liveSplitters:false" id="borderContainer">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:false, region:'leading'" style="width: 250px;">
        <div id="form_message">&nbsp;</div>

        <div class="input_form_area">
                <form method="" action="" data-dojo-type="dijit/form/Form" data-dojo-id="frm_new_indexes" id="frm_new_indexes">

                <!--<script type="dojo/on" data-dojo-event="submit">-->
                    <!--return this.validate();-->
                <!--</script>-->

                {% csrf_token %}

                <table style="width:90%">
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2">
                            <button data-dojo-type="dijit/form/Button" onclick="submitForm();">{% trans "Submit index" %}</button>
                        </td>
                    </tr>
                </table>
                </form>
        </div>
    </div>

    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" id="mainContainer">
        <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, liveSplitters:true">
            <div data-dojo-type="dijit/layout/ContentPane"  data-dojo-props="region:'leading'" style="width:50%;">
                <div id="gridRecords"></div>
            </div>

            <div data-dojo-type="dijit/layout/ContentPane"  data-dojo-props="region:'right'" style="width:50%;">
                <div id="gridCalculated"></div>
            </div>
                        
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" style="height: 200px;">
                {% include "dashboard/fixed_costs_area.html" with person="Jane" greeting="Hello" %}
            </div>
        </div>
    </div>

</div>
{% endblock %}